html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  height: 7rem;
  background-color: black!important;
  }

.navbar-nav {
  margin-right: 1rem;
  }

/* .container-fluid {
  width: 60%;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: 7rem;   
}

.container-full {
  width: 100%;
  margin: 4rem;
  padding-top: 2rem;
  
  margin-top: 9rem; 
  background: radial-gradient(#222121, #131313);

  border-radius: 2rem;
  border: 2rem solid rgba(0,0,0,.7);
  background-clip: padding-box;
}

.navbar {
height: 7rem;
background-color: black!important;
}

.p-home {
padding: 3rem;
width: 100%;
text-align: justify;
align-items: center;
color: rgba(255,255,255,.9);
font-size: large;

background: radial-gradient(#222121, #131313);
margin-top: 30px;
margin-bottom: 30px;
border-radius: 2rem;
border: 3rem solid rgba(0,0,0,.7);
background-clip: padding-box;
} */